/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    font-size: 15px;
}

:root{
    --color-white: #fff;
    --color-grey: #ececec;
    --color-black: #000;
    --color-blue: #2a2185;
    --color-grey-text: #797979;
    --color-dark-grey: #05364d;
    --background-color: #eef0f5;

    --card-box-shadow: rgba(0, 0, 0, 0.283) 1.95px 1.95px 2.6px;
    --card-box-shadow-2: 0 7px 25px rgba(0, 0, 0, 0.155);
    --card-box-shadow-white: rgba(234, 229, 229, 0.749) 1.95px 1.95px 2.6px;
}

a{
    text-decoration: none;
}

.red{
    color: red !important;
}

.bg-red{
    background-color: red !important;
}

.succes_m{
    position: relative;
    display: block;
    width: 98%;
    margin: 5px auto;
    padding: 10px 15px;
    background-color: rgb(34, 103, 53);
    border-radius: 10px;
    color: var(--color-white);
}

.succes_m p{
    font-size: 1.3rem;
}

.succes_m i{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 2rem;
    cursor: pointer;
}

/* start to for base */
.for_base{
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.for_base .card{
    box-shadow: var(--card-box-shadow-2);
    border-radius: 10px;
    padding: 15px 10px;
    transition: all 300ms ease;
}

.for_base .card h1{
    font-size: 1.35rem;
    font-weight: 600;
}

.for_base .card a button{
    display: inline-block;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin-top: 15px;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 300ms ease;
    min-width: 200px;
}


.for_base .card:hover{
    background-color: var(--color-blue);
}

.for_base .card:hover h1{
    color: var(--color-white);
}

.for_base .card:hover a button{
    background-color: var(--color-white);
    color: var(--color-blue);
    box-shadow: var(--card-box-shadow-white);
}


/* start to main base */
.top_bar{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.top_bar a{
    display: block;
}

.top_bar a .back_link{
    width: 50px;
    height: 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 50%;
}

.top_bar a .back_link i{
    font-size: 2rem;
    margin: 8px;
}

.top_bar .title h1{
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 5px;
    color: var(--color-blue);
}

/* base table */

.base_table,
.create_user,
.edit_user{
    margin-top: 20px;
    padding: 20px 10px;
}

.base_table .tables,
.create_user .tables,
.edit_user .tables{
    padding: 0 20px 20px;
    border-radius: 15px;
    box-shadow: var(--card-box-shadow-2);
}

.base_table .tables table,
.create_user .tables table,
.edit_user .tables table{
    width: 100%;
    border-collapse: collapse;
}

.base_table .tables table thead tr td,
.create_user .tables table thead tr td,
.edit_user .tables table thead tr td{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 20px 0;
}

.base_table .tables table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.base_table .tables table tbody tr:last-child{
    border-bottom: none;
}

.base_table .tables table tbody tr td{
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.base_table .tables table tbody tr td:last-child{
    color: var(--color-blue);
    font-weight: 700;
    cursor: pointer;
}

.base_table .tables table tbody tr:hover td:last-child{
    color: var(--color-white);
}

.base_table .tables table tbody tr:hover{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.create_user .tables h1,
.edit_user .tables h1{
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    color: var(--color-blue);
}


.create_user .tables table tbody tr td input,
.edit_user .tables table tbody tr td input{
    width: 90%;
    height: 40px;
    padding-left: 15px;
    font-size: 1.3rem;
}

.create_user .tables .buttons,
.edit_user .tables .buttons{
    display: block;
    width: 100%;
    margin-top: 15px;
}

.create_user .tables .buttons button,
.edit_user .tables .buttons button{
    padding: 8px 15px;
    min-width: 200px;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.create_user .tables .buttons button:hover,
.edit_user .tables .buttons button:hover{
    opacity: 0.7;
}









/* media query */
@media only screen and (max-width: 992px){
    .for_base{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 768px){
    .for_base{
        grid-template-columns: repeat(2, 1fr);
    }

    .base_table .tables,
    .create_user .tables,
    .edit_user .tables{
        overflow: hidden;
        overflow-x: scroll;
    }

    .base_table .tables table,
    .create_user .tables table,
    .edit_user .tables table{
        width: 768px;
    }

    .create_user .tables .buttons,
    .edit_user .tables .buttons{
        width: 768px;
    }

}

@media only screen and (max-width: 500px){
    .for_base{
        grid-template-columns: repeat(1, 1fr);
    }

    .top_bar .title h1{
        font-size: 1.5rem;
        margin-top: 10px;
    }

    .create_user .tables h1,
    .edit_user .tables h1{
        font-size: 1.5rem;
    }
}